<p id="notice"><%= notice %></p>


<div class="header">
  <p>WynCal</p>
  <br><%= image_tag "list_icon.png" %>
  <!-- <%= image_tag "search_function.png" %>
  <%= image_tag "" %>  -->
</div><br><br>

<div class="thisweek">
<center><h3>List of this Week's Events</h3></div></center>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date/Time</th>
      <th>Location</th>
      <th colspan="4"></th>
    </tr>
  </thead>
</table>

<br><br><br><br>
<div class="upcoming">
<center><h3>List of Upcoming Events</h3></div></center>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date/Time</th>
      <th>Location</th>
      <th colspan="4"></th>
    </tr>
  </thead>
</table>


    <div class="events">
      <% @events.each do |event| %>
        <p><%= event.name %>
        <%= event.description %>
        <%= link_to 'Show', event %></p>
          <!-- <td><%= link_to 'Edit', edit_event_path(event) %></td> -->
          <!-- <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <% end %>
    </div>


<br>


<% if ( (@page - 1) > 0 ) %>
  <%= link_to "Previous page", page: @page - 1 %>
<% end %>

<% if (@page + 1) < ( (Event.count / 25) + 1 ) %>
  <%= link_to "Next page", page: @page + 1 %>
<% end %>

<!-- <div class="newevent">
<%= link_to 'Add a New Event', new_event_path %>
</div> -->
