<p id="notice"><%= notice %></p>

<br><br>
<div class="header">
  <p>WynCal</p>
  <br>
  <%= link_to "<i class='fa fa-at'></i>".html_safe, about_path %>
</div><br><br>


<div class="upcoming">
<center><h3>List of Upcoming Events</h3></div></center>


  <div class="events">
    <% @events.each do |event| %>
      <p><%= event.start_date.strftime("%A, %b %d") %> |
      <%= event.name %> |
      <%= link_to "<i class='fa fa-align-left'></i>".html_safe, event %></p>
    <% end %>
  </div>
<br><br><br>

<div class="prevnext">
  <% if ( (@page - 1) > 0 ) %>
    <%= link_to "Previous", page: @page - 1 %>
  <% end %>

  <% if @display_next %>
    <%= link_to "Next", page: @page + 1 %>
  <% end %>
</div>

<br><br><br>

<div class="newevent">
<%= link_to 'Add a New Event', new_event_path %>
</div>
<br><br><br>
