<p id="notice"><%= notice %></p>

<br><br>
<div class="header">
  <p>WynCal</p>
<<<<<<< HEAD
  <%#= link_to (image_tag "list_icon.png"), about_path %>
  <%= link_to (image_tag "info_icon.png"), about_path %>
=======
  <br><%#= link_to (image_tag "list_icon.png"), about_path %>
  <%= link_to "<i class='fa fa-at'></i>".html_safe, about_path %>
>>>>>>> a18d6524b14282c5b4edac50889bc4040812f03e
  <!-- <%= image_tag "search_function.png" %> -->
</div><br><br>


<div class="upcoming">
<center><h3>List of Upcoming Events</h3></div></center>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Date/Time</th>
      <th>Location</th>
      <th colspan="4"></th>
    </tr>
  </thead>
</table> -->

    <% @events.each do |event| %>
    <div class="events">
      <%= event.name %>
      <!-- <%= event.description %> -->
<<<<<<< HEAD
      <%= event.start_date %>
      <%= link_to 'Show', event %>
=======
      <%= event.start_date.strftime("%A, %b %d") %>
      <%= link_to 'Show', event %></p>
        <!-- <td><%= link_to 'Edit', edit_event_path(event) %></td> -->
        <!-- <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
>>>>>>> a18d6524b14282c5b4edac50889bc4040812f03e
    <% end %>
  </div>
<br>

<% if ( (@page - 1) > 0 ) %>
  <%= link_to "Previous page", page: @page - 1 %>
<% end %>

<% if @display_next %>
  <%= link_to "Next page", page: @page + 1 %>
<% end %>

<br><br><br>

<div class="newevent">
<%= link_to 'Add a New Event', new_event_path %>
</div>
