<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Event:</strong>
  <%= @review.event.name %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
  <% if @review.event.nil? %>
    <%= link_to 'Back', reviews_path %>
  <% else %>
    <%= link_to 'Back', @review.event %>
  <% end %>
